@charset "utf-8";
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, menu, nav, section, summary,a{
	margin: 0;
	padding: 0;
	border: 0;
	font-family:-apple-system,"Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica, Verdana,"Microsoft YaHei", "SimHei", "SimSun";
	
}

*{ -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; }
a {
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -moz-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
}
a {
	text-decoration:none;
}
a:active, a:hover {
	outline: 0;
}
img {
	/*max-width: 100%;*/
	display: block;
	border:0;
	vertical-align:bottom;
}

.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}

.ty-box{width:7.5rem;height:100%;margin:0 auto;position:relative;}
.ty-banner1{width:7.5rem;height:2.7rem;background:url(../img/ty-banner1.jpg) no-repeat;background-size:100% auto;}
.ty-banner2{width:7.5rem;height:6.95rem;background:url(../img/ty-banner2.jpg) no-repeat;background-size:100% auto;}
.ty-banner3{width:7.5rem;height:3.69rem;background:url(../img/ty-banner3.jpg) no-repeat;background-size:100% auto;}
.ty-banneri{width:5.9rem;height:1.7rem;overflow:hidden;margin:0 auto;}
.ty-b-txt1{text-align:center;color:#ffe796;font-size:0.24rem;line-height:0.36rem;}
.ty-b-txt1 span{padding-left:0.1rem;}
.ty-bannerio{padding-top:0.36rem;}

.ty1o{position:relative;width:7.5rem;height:13.34rem;background:url(../img/ty-bg1.jpg) no-repeat;background-size:100% auto;}
.ty1{position:relative;width:7.5rem;height:13.34rem;}
.ty-tree{z-index:10;width:6.84rem;height:7.42rem;background:url(../img/ty-tree.png) no-repeat;background-size:100% auto;position:absolute;top:2.25rem;left:50%;margin-left:-3.42rem;}
.ty-leaf1{width:2.31rem;height:1.24rem;background:url(../img/ty-leaf1.png) no-repeat;background-size:100% auto;position:absolute;z-index:9;top:5.29rem;right:0.5rem;}
.ty-leaf2{width:1.32rem;height:0.89rem;top:3.6rem;right:0.8rem;background:url(../img/ty-leaf2.png) no-repeat;background-size:100% auto;position:absolute;z-index:9;}
.ty-leaf3{width:1.33rem;height:0.89rem;top:4.13rem;left:0.5rem;background:url(../img/ty-leaf3.png) no-repeat;background-size:100% auto;position:absolute;z-index:9;}
.ty-leaf4{width:1.33rem;height:0.89rem;top:2.92rem;left:1.15rem;background:url(../img/ty-leaf4.png) no-repeat;background-size:100% auto;position:absolute;z-index:9;}
.ty-leaf5{width:1.33rem;height:0.89rem;top:2.26rem;left:3.20rem;background:url(../img/ty-leaf4.png) no-repeat;background-size:100% auto;position:absolute;z-index:9;}
.ty-rp1{top:2.45rem;left:3.35rem;width:1.08rem;height:1.22rem;background:url(../img/ty-rp1.png) no-repeat;background-size:100% auto;position:absolute;z-index:11;}
.ty-rp2{top:4.58rem;left:2.93rem;width:1.08rem;height:1.22rem;background:url(../img/ty-rp2.png) no-repeat;background-size:100% auto;position:absolute;z-index:11;}
.ty-rp3{top:2.8rem;left:1.8rem;width:1.08rem;height:1.22rem;background:url(../img/ty-rp3.png) no-repeat;background-size:100% auto;position:absolute;z-index:11;}
.ty-rp4{top:4.95rem;left:0.5rem;width:1.08rem;height:1.22rem;background:url(../img/ty-rp3.png) no-repeat;background-size:100% auto;position:absolute;z-index:11;}
.ty-jxq1{top:4.75rem;left:2rem;width:1.05rem;height:1.20rem;background:url(../img/ty-jxq1.png) no-repeat;background-size:100% auto;position:absolute;z-index:11;}
.ty-jxq2{top:6.25rem;right:1.5rem;width:1.05rem;height:1.20rem;background:url(../img/ty-jxq1.png) no-repeat;background-size:100% auto;position:absolute;z-index:11;}
.ty-tree-btn1o{position:absolute;width:2.98rem;bottom:3.95rem;z-index:10;left:50%;margin-left:-1.49rem;}
.ty-tree-btn1{display:block;width:2.98rem;height:0.66rem;background:url(../img/ty-tree-btn1.png) no-repeat;background-size:100% auto;}
.ty-tree-btn1:active{display:block;width:2.98rem;height:0.66rem;background:url(../img/ty-tree-btn1hover.png) no-repeat;background-size:100% auto;}
.ty-tree-btn2o{position:absolute;width:2.98rem;bottom:2.3rem;z-index:10;left:50%;margin-left:-1.49rem;}
.ty-tree-btn2{display:block;width:2.98rem;height:0.94rem;background:url(../img/ty-tree-btn2.png) no-repeat;background-size:100% auto;}
.ty-tree-btn2:active{display:block;width:2.98rem;height:0.94rem;background:url(../img/ty-tree-btn2hover.png) no-repeat;background-size:100% auto;}
.ty-tree-btn3o{position:absolute;width:2.98rem;bottom:1.05rem;z-index:10;left:50%;margin-left:-1.49rem;}
.ty-tree-btn3{display:block;width:2.98rem;height:0.66rem;background:url(../img/ty-tree-btn3hover.png) no-repeat;background-size:100% auto;}
.ty-tree-btn3:active{display:block;width:2.98rem;height:0.66rem;background:url(../img/ty-tree-btn3hover.png) no-repeat;background-size:100% auto;}
.one-more .ty-tree-btn3{background:url(../img/ty-tree-btn3.png) no-repeat;background-size:100% auto;}
.one-more .ty-tree-btn3:active{background:url(../img/ty-tree-btn3hover.png) no-repeat;background-size:100% auto;}
.shaken .ty-tree-btn1{background:url(../img/ty-tree-btn1hover.png) no-repeat;background-size:100% auto;}
/*光*/
.ty-light1{position:absolute;z-index:12;top:2.3rem;left:1.65rem;}
.ty-light2{position:absolute;z-index:12;top:1.85rem;left:2.5rem;}
.ty-light3{position:absolute;z-index:12;top:3.5rem;left:0.5rem;}
.ty-light4{position:absolute;z-index:12;top:4.25rem;left:0.76rem;}
.ty-light5{position:absolute;z-index:12;top:4.94rem;left:2.26rem;}
.ty-light6{position:absolute;z-index:12;top:3.5rem;left:2.55rem;}
.ty-light7{position:absolute;z-index:12;top:3.1rem;left:5.2rem;}
.ty-light8{position:absolute;z-index:12;top:2.84rem;right:1.63rem;}
.ty-light9{position:absolute;z-index:12;bottom:4.5rem;right:3.8rem;}
.ty-light10{position:absolute;z-index:12;bottom:4.7rem;left:3.45rem;}
.ty-light11{position:absolute;z-index:12;bottom:0.9rem;left:1.65rem;}
.ty-all-light img{width:1.5rem;height:1.5rem;}
.ty-light11,.ty-light12,.ty-light13{width:1.5rem;height:1.5rem;}
.ty-light12{position:absolute;z-index:12;bottom:2.4rem;left:1.65rem;}
.ty-light13{position:absolute;z-index:12;bottom:3.8rem;left:1.65rem;}
.ty-l1{-webkit-animation: ty-l1 ease 2s  infinite;
	animation: ty-l1 ease 2s  infinite;}
@keyframes ty-l1{
    0%   {opacity:0.5;}  100% {opacity:1;}
 }
  @-webkit-keyframes ty-l1{
    0%   {opacity:0.5;}  100% {opacity:1;}
 }
  @-moz-keyframes ty-l1{
  	0%   {opacity:0.5;}  100% {opacity:1;}
 }
 @-o-keyframes ty-l1{
   	0%   {opacity:0.5;}  100% {opacity:1;}
 }
.ty-l2{-webkit-animation: ty-l2 ease 1s  infinite;
	animation: ty-l2 ease 1s  infinite;}
@keyframes ty-l2{
    0%   {opacity:0;transform:rotate(0deg);}
    50%  {opacity:0.5;transform:rotate(180deg);}
    100% {opacity:1;transform:rotate(360deg);}
 }
  @-webkit-keyframes ty-l2{
    0%   {opacity:0;-webkit-transform:rotate(0deg);}  
    50%   {opacity:0.5;-webkit-transform:rotate(180deg);}   
    100% {opacity:1;-webkit-transform:rotate(360deg);}
 }
  @-moz-keyframes ty-l2{
  	0%   {opacity:0;-moz-transform:rotate(0deg);}
    50%  {opacity:0.5;-moz-transform:rotate(180deg);}
    100% {opacity:1;-moz-transform:rotate(360deg);}
 }
 @-o-keyframes ty-l2{
   	0%   {opacity:0;-o-transform:rotate(0deg);}
    50%  {opacity:0.5;-o-transform:rotate(180deg);}
    100% {opacity:1;-o-transform:rotate(360deg);}
 }
 /*leaf1*/
.ty-leaf1go{
transform-origin:20% 50%;
-ms-transform-origin:20% 50%;
-webkit-transform-origin:20% 50%;
-moz-transform-origin:20% 50%;
-o-transform-origin:20% 50%;
	
-webkit-animation: leaf1 1s linear 4;
-moz-animation: leaf1 1s linear 4;
-ms-animation: leaf1 1s linear 4;
-o-animation: leaf1 1s linear 4;
animation: leaf1 1s linear 4;
}
@keyframes leaf1{
    0% { transform: rotate(-12deg); }
    20% { transform: rotate(12deg); }
    30% { transform: rotate(6deg); }
    40% { transform: rotate(-6deg); }
    55% { transform: rotate(3deg); }
    70% { transform: rotate(-3deg); }
    80% { transform: rotate(2deg); }
    90% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}
@-webkit-keyframes leaf1{
    0% { transform: rotate(-12deg); }
    20% { transform: rotate(12deg); }
    30% { transform: rotate(6deg); }
    40% { transform: rotate(-6deg); }
    55% { transform: rotate(3deg); }
    70% { transform: rotate(-3deg); }
    80% { transform: rotate(2deg); }
    90% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
}
/*leaf2*/
.ty-leaf2go{
transform-origin:90% 50%;
-ms-transform-origin:90% 50%;
-webkit-transform-origin:90% 50%;
-moz-transform-origin:90% 50%;
-o-transform-origin:90% 50%;
	
-webkit-animation: leaf2 1s linear 4;
-moz-animation: leaf2 1s linear 4;
-ms-animation: leaf2 1s linear 4;
-o-animation: leaf2 1s linear 4;
animation: leaf2 1s linear 4;
}
@keyframes leaf2{
    0% { transform: rotate(-10deg); }
    20% { transform: rotate(10deg); }
    30% { transform: rotate(-8deg); }
    40% { transform: rotate(8deg); }
    55% { transform: rotate(-6deg); }
    70% { transform: rotate(6deg); }
    80% { transform: rotate(-3deg); }
    90% { transform: rotate(3deg); }
    90% { transform: rotate(0deg); }
}
@-webkit-keyframes leaf2{
    0% { transform: rotate(-10deg); }
    20% { transform: rotate(10deg); }
    30% { transform: rotate(-8deg); }
    40% { transform: rotate(8deg); }
    55% { transform: rotate(-6deg); }
    70% { transform: rotate(6deg); }
    80% { transform: rotate(-3deg); }
    90% { transform: rotate(3deg); }
    90% { transform: rotate(0deg); }
}
/*leaf3*/
.ty-leaf3go{
transform-origin:90% 50%;
-ms-transform-origin:90% 50%;
-webkit-transform-origin:90% 50%;
-moz-transform-origin:90% 50%;
-o-transform-origin:90% 50%;
	
-webkit-animation: leaf3 1s linear 4;
-moz-animation: leaf3 1s linear 4;
-ms-animation: leaf3 1s linear 4;
-o-animation: leaf3 1s linear 4;
animation: leaf3 1s linear 4;
}
@keyframes leaf3{
    0% { transform: rotate(-12deg); }
    20% { transform: rotate(8deg); }
    30% { transform: rotate(6deg); }
    40% { transform: rotate(3deg); }
    55% { transform: rotate(0deg); }
    70% { transform: rotate(-4deg); }
    80% { transform: rotate(7deg); }
    90% { transform: rotate(-8deg); }
    90% { transform: rotate(12deg); }
}
@-webkit-keyframes leaf3{
    0% { transform: rotate(-12deg); }
    20% { transform: rotate(8deg); }
    30% { transform: rotate(6deg); }
    40% { transform: rotate(3deg); }
    55% { transform: rotate(0deg); }
    70% { transform: rotate(-4deg); }
    80% { transform: rotate(7deg); }
    90% { transform: rotate(-8deg); }
    90% { transform: rotate(12deg); }
}
/*leaf4*/
.ty-leaf4go{
transform-origin:90% 50%;
-ms-transform-origin:90% 50%;
-webkit-transform-origin:90% 50%;
-moz-transform-origin:90% 50%;
-o-transform-origin:90% 50%;
	
-webkit-animation: leaf4 1s linear 4;
-moz-animation: leaf4 1s linear 4;
-ms-animation: leaf4 1s linear 4;
-o-animation: leaf4 1s linear 4;
animation: leaf4 1s linear 4;
}
@keyframes leaf4{
    0% { transform: rotate(-12deg); }
    20% { transform: rotate(8deg); }
    30% { transform: rotate(6deg); }
    40% { transform: rotate(3deg); }
    55% { transform: rotate(0deg); }
    70% { transform: rotate(-4deg); }
    80% { transform: rotate(7deg); }
    90% { transform: rotate(-8deg); }
    90% { transform: rotate(12deg); }
}
@-webkit-keyframes leaf4{
    0% { transform: rotate(-12deg); }
    20% { transform: rotate(8deg); }
    30% { transform: rotate(6deg); }
    40% { transform: rotate(3deg); }
    55% { transform: rotate(0deg); }
    70% { transform: rotate(-4deg); }
    80% { transform: rotate(7deg); }
    90% { transform: rotate(-8deg); }
    90% { transform: rotate(12deg); }
}
/*tree*/
.ty-treego{
transform-origin:50% 99%;
-ms-transform-origin:50% 99%;
-webkit-transform-origin:50% 99%;
-moz-transform-origin:50% 99%;
-o-transform-origin:50% 99%;
	
-webkit-animation: treego 2s linear 4;
-moz-animation: treego 2s linear 4;
-ms-animation: treego 2s linear 4;
-o-animation: treego 2s linear 4;
animation: treego 2s linear 4;
}
@keyframes treego{
   0% { transform: rotate(6deg); }
    20% { transform: rotate(-6deg); }
    30% { transform: rotate(5deg); }
    40% { transform: rotate(-5deg); }
    55% { transform: rotate(4deg); }
    70% { transform: rotate(-4deg); }
    80% { transform: rotate(3deg); }
    90% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}
@-webkit-keyframes treego{
    0% { transform: rotate(6deg); }
    20% { transform: rotate(-6deg); }
    30% { transform: rotate(5deg); }
    40% { transform: rotate(-5deg); }
    55% { transform: rotate(4deg); }
    70% { transform: rotate(-4deg); }
    80% { transform: rotate(3deg); }
    90% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
}
/*红包*/
.ty-rp1go{position: absolute;top: 2.45rem;left: 3.35rem;  
    -webkit-animation:rpgo1 5s 1 linear;  
    animation:rpgo1 5s 1 linear;}  
.ty-jxq1go{position: absolute;top: 4.75rem;left: 2rem;  
    -webkit-animation:rpgo2 5s 1 1s linear;  
    animation:rpgo2 5s 1 1s linear;}  
.ty-rp2go{position: absolute;top: 4.58rem;left: 2.93rem;  
    -webkit-animation:rpgo3 5s 1 1s linear;  
    animation:rpgo3 5s 1 1s linear;} 
.ty-rp3go{position: absolute;top:2.8rem;left:1.8rem; 
-webkit-animation:rpgo4 8s 1 1s linear;  
animation:rpgo4 5s 1 1s linear;} 
.ty-jxq2go{position: absolute;top:6.25rem;right:1.5rem;  
-webkit-animation:rpgo5 8s 1 1s linear;  
animation:rpgo5 5s 1 1s linear;} 
@-webkit-keyframes rpgo1{  
    0%{top:2.45rem;transform:rotate(-60deg);}  
    100%{top: 100%;transform:rotate(60deg);}  
}  
@keyframes rpgo1{  
    0%{top:2.45rem;transform:rotate(-60deg);}  
    100%{top: 100%;transform:rotate(60deg);}  
}

@-webkit-keyframes rpgo2{  
    0%{top: 4.75rem;transform:rotate(-60deg);}  
    100%{top: 100%;transform:rotate(60deg);}  
}  
@keyframes rpgo2{  
    0%{top: 4.75rem;transform:rotate(-60deg);}  
    100%{top: 100%;transform:rotate(60deg);}  
}

@-webkit-keyframes rpgo3{  
    0%{top: 4.58rem;transform:rotate(-60deg);}  
    100%{top: 100%;transform:rotate(60deg);}  
}  
@keyframes rpgo3{  
    0%{top: 4.58rem;transform:rotate(-60deg);}  
    100%{top: 100%;transform:rotate(60deg);}  
}

@-webkit-keyframes rpgo4{  
    0%{top: 2.8rem;transform:rotate(-60deg);}  
    100%{top: 100%;transform:rotate(60deg);}  
}  
@keyframes rpgo4{  
    0%{top: 2.8rem;transform:rotate(-60deg);}  
    100%{top: 100%;transform:rotate(60deg);}  
}

@-webkit-keyframes rpgo5{  
    0%{top:6.25rem;transform:rotate(-60deg);}  
    100%{top: 100%;transform:rotate(60deg);}  
}  
@keyframes rpgo5{  
    0%{top:6.25rem;transform:rotate(-60deg);}  
    100%{top: 100%;transform:rotate(60deg);}  
}





.ty2i{width:7.5rem;height:2.95rem;background:url(../img/ty-rules-t.jpg) no-repeat;background-size:100% auto;}
.ty-ruleso{width:7.5rem;height:10.39rem;background:url(../img/ty-rules-bg.jpg) no-repeat;background-size:100% auto;}
.ty-rules{width:6.2rem;margin:0 auto;padding-top:0.6rem;}
.ty-rules p{padding-left:0.47rem;text-indent:-0.47rem;text-align:justify;font-size:0.3rem;line-height:0.36rem;color:#FFFFFF;padding-bottom:0.35rem;}

/*弹窗*/
.ty-mask{width:100%;display: none;height: 100%;position: fixed;_position: absolute;background: #1a1a1a;filter: alpha(opacity=65);-moz-opacity:0.65;opacity:0.65;z-index: 100;top: 0;}
.ty-get-rpo .ty-mask,.ty-get-rpo .ty-get-rp{display:block;}
.ty-get-rp{display:none;z-index:101;width:7.5rem;height:6.05rem;position:fixed;top:50%;margin-top:-3.02rem;left:50%;margin-left:-3.75rem;}
.ty-rp{position:absolute;top:0;left:50%;margin-left:-3.75rem;width:7.5rem;height:6.05rem;background:url(../img/ty-rpbg.png) no-repeat;background-size:100% auto;}
.ty-rptxt{margin:0 auto;width:2.27rem;padding-top:2.9rem;}
.ty-rptxt img{width:2.27rem;height:0.78rem;}
.ty-rptxt3{color:#fcda54;font-size:0.31rem;text-align:center;}
.ty-rptxt3 b{font-size:1.13rem;}
.ty-rp-btno{width:3.68rem;margin:0 auto;}
.ty-rp-btn{font-size:0.34rem;font-weight:bold;color:#fe594b;text-align:center;line-height:0.66rem;display:block;width:3.68rem;height:0.66rem;background:url(../img/ty-rp-btn.png) no-repeat;background-size:100% auto;}
.ty-rp-btn:active{background:url(../img/ty-rp-btnhover.png) no-repeat;background-size:100% auto;}

.ty-rp-jxq,.ty-rp-jxq2,.ty-get-jxq .ty-rp-rp,.ty-get-jxq .ty-rp-rp1{display:none;}
.ty-rptxt2{margin:0 auto;width:1.87rem;padding-top:2.9rem;}
.ty-rptxt2 img{width:1.87rem;height:0.77rem;}
.ty-get-jxq .ty-rp-jxq,.ty-get-jxq .ty-rp-jxq2{display:block;}


.ty-get-ntho .ty-mask,.ty-get-ntho .ty-get-nth{display:block;}
.ty-get-nth{display:none;z-index:101;border-radius:0.2rem;width:6.8rem;height:3.8rem;background:#FFFFFF;position:fixed;top:50%;margin-top:-1.9rem;left:50%;margin-left:-3.4rem;}
.ty-rptxt4{text-align:center;color:#ed6869;font-size:0.38rem;font-weight:bold;padding-top:0.7rem;}
.ty-closebtn2o{width:4rem;margin:0 auto;padding-top:0.5rem;}
.ty-closebtn2{box-shadow: 0rem 0.15rem 0.8rem rgba(233,77,78,0.4);display:block;border-radius:0.1rem;font-size:0.5rem;width:4rem;height:1rem;background:#e94d4e;color:#FFFFFF;text-align:center;line-height:1rem;}
