@charset "utf-8";
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, menu, nav, section, summary,a{
	margin: 0;
	padding: 0;
	border: none;
	font-family:-apple-system,"Helvetica Neue",HelveticaNeue,"Helvetica-Neue",Helvetica, Verdana,"Microsoft YaHei", "SimHei", "SimSun";

}
*{ -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent; }
a {
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -moz-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
}
img {
	border:none;
	margin: 0;
	padding: 0; 
}
ul {
	list-style:none;
}
a {	
	text-decoration:none;
}
a:active, a:hover {
	outline: none;
}
table{
	border-collapse: collapse;
}
input{
	outline:none; 
}

input:-webkit-autofill,input:focus:-webkit-autofill{
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
input::-webkit-input-placeholder{color:#cacad2;font-size:0.32rem; }
/*字体大小*/
.size18{ 
	font-size:0.18rem;
}
.size22{ 
	font-size:0.22rem;
}
.size20{ 
	font-size:0.2rem;
}
.size24{ 
	font-size: 0.24rem;
}
.size26{ 
	font-size: 0.26rem;
}
.size36{ 
	font-size: 0.36rem;
}
.size38{ 
	font-size: 0.38rem;
}
.size76{ 
	font-size: 0.76rem;
}

.size30{ 
	font-size:0.3rem;
}
.size32{ 
	font-size:0.32rem;
}

.size42{
	font-size: 0.42rem;
}
.size28{ 
	font-size: 0.28rem;
}
.size46{
	font-size: 0.46rem;
}
.size44{
	font-size: 0.44rem;
}
.size40{
	font-size: 0.4rem;
}
.size68{
	font-size: 0.68rem;
}
/*字体颜色*/
.bai{ color:#ffffff;}
.yanse1{
	color:#f08771; 
}
.yanse2{
	color:#73bbd1; 
}
.yanse3{
	color:#ffa453; 
}
.yanse4{
	color:#6d6261; 
}
.yanse5{
	color:#83dbf6; 
}
.yanse6{
	color:#b3adad; 
}
.yanse7{
	color:#f9c02b;
}
.yanse8{
	color:#cacad2;
}
.yanse9{
	color:#46b2d3;
}
.pc3_txt_color_red1{color:#e42c27;}
.pc3_txt_color_red2{color:#d00f2b;}
.pc3_txt_color555{color:#555555;}
.pc3_txt_color999{color:#999999}
.pc3_txt_colore9{color:#e9e9e9;height:16px;}
.pc3_txt_color8b{color:#8b8b8b;}
.pc3_txt_colorc4{color:#c4c4c4；}
.pc3_txt_color_orange{color:#f6ac64;}
/*字体*/
.pc3_txt_font1{ font-family:arial;}
.pc3_txt_font2{ font-family: "黑体";}
.pc3_txt_font3{ font-family: "宋体";}
.pc3_txt_font22{font-family: arial;}
/*行高*/
.hanggao35{ 
	line-height:0.35rem;
}
.hanggao30{ 
	line-height:0.3rem;
}
.hanggao40{ 
	line-height:0.4rem;
}
.hanggao45{ 
	line-height:0.45rem;
}
.hanggao50{ 
	line-height:0.5rem;
}
.hanggao25{ 
	line-height:0.25rem;
}
.centerx{
	text-align:center; 
}
.jiacu{
	font-weight:bold; 
}



.tan{
	z-index:9001; 
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c8000000,endColorstr=#c8000000);
	position: fixed;
	left: 0;
	top: 0;
}
.biao td{
	height:0.7rem;
	line-height: 0.7rem;
	text-align: center;
	border:1px solid #521206; 
	font-size:0.24rem;
	color: #521206; 

}
.tou{
	background: url(../img/anniu1.png) center no-repeat;
}
.tou:active{
	background: url(../img/anniu2.png) center no-repeat;
}
.jisuan{
	background: url(../img/anniu3.png) center no-repeat;
}
.jisuan:active{
	background: url(../img/anniu4.png) center no-repeat;
}
.bei1{
	background: url(../img/anniu7.png) center no-repeat;
	line-height:0.65rem;
}
.bei2{
	background: url(../img/anniu8.png) center no-repeat;
	line-height:0.75rem;
}
.qianggou{
	background: url(../img/anniu5.png) center no-repeat;
}
.qianggou:active{
	background: url(../img/anniu6.png) center no-repeat;
}